---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForContinuationAndIndentation
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakBeforeBraces: Attach
PointerAlignment: Left
SpaceAfterCStyleCast: false
SortIncludes: false
AlignTrailingComments: true
